<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Blogs - Register</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/assets/root.css}" />
</head>

<body>
	<div th:replace="layout/_top::frag-top"></div>

	<form style="display: flex; justify-content: center;"
		th:object="${new_user}" th:action="@{/register}" method="post">

		<table>
			<caption><h2>Register a new account</h2></caption>

			<!-- field username -->
			<tr>
				<td><label for="username">username : </label></td>
				<td><input type="text" th:field="*{username}"
					th:class="${#fields.hasErrors('username')}? fieldErrors" /></td>
				<td><div th:each="err : ${#fields.errors('username')}"
						th:text="${err}" th:class="errorClass" /></td>
			</tr>

			<!-- field email -->
			<tr>
				<td><label for="email">email : </label></td>
				<td><input type="text" th:field="*{email}"
					th:class="${#fields.hasErrors('email')}? fieldErrors" /></td>
				<td><div th:each="err : ${#fields.errors('email')}"
						th:text="${err}" th:class="errorClass" /></td>
			</tr>

			<!--  password -->
			<tr>
				<td><label for="password">password : </label></td>
				<td><input type="text" th:field="*{password}"
					th:class="${#fields.hasErrors('password')}? fieldErrors" /></td>
				<td><div th:each="err : ${#fields.errors('password')}"
						th:text="${err}" th:class="errorClass" /></td>
			</tr>

			<!-- field confirm password -->
			<tr>
				<td><label for="retypePassword">retype password : </label></td>
				<td><input type="text" th:field="*{retypePassword}"
					th:class="${#fields.hasErrors('retypePassword')}? fieldErrors" /></td>
				<td><div th:each="err : ${#fields.errors('retypePassword')}"
						th:text="${err}" th:class="errorClass" /></td>
			</tr>

			<!-- field name -->
			<tr>
				<td><label for="name">name: </label></td>
				<td><input type="text" th:field="*{name}"
					th:class="${#fields.hasErrors('name')}? fieldErrors" /></td>
				<td><div th:each="err : ${#fields.errors('name')}"
						th:text="${err}" th:class="errorClass" /></td>
			</tr>

			<!-- field date of birth -->
			<tr>
				<td><label for="dateOfBirth">dateOfBirth: </label></td>
				<td><input type="date" th:field="*{dateOfBirth}" /></td>
				<td><div th:each="err : ${#fields.errors('dateOfBirth')}"
						th:text="${err}" th:class="errorClass" /></td>
			</tr>

			<!-- field sex -->
			<tr>
				<td><label for="sex">sex: </label></td>
				<td><input type="radio" th:field="*{sex}" value="0" /> <label>Nu</label>
					<br> <input type="radio" th:field="*{sex}" value="1" /> <label>Nam</label>
				</td>
			</tr>

			<!-- field role -->
			<tr>
				<td><label for="sex">role: </label></td>
				<td><select th:field="*{role}">
						<option th:each="type : ${T(com.blogs.model.RoleEnum).values()}"
							th:value="${type}" th:text="${type}" />
				</select></td>
			</tr>

			<tr>
				<td><div class="submit">
						<button type="submit">Register</button>
					</div></td>
			</tr>

		</table>

	</form>

	<div th:replace="layout/_bottom::frag-bottom"></div>
</body>

</html>